.img-fluid {
    margin: 10px;
    height: auto;

}

label{
    color: white;
    font-size: 150%;
}

body {
    background: url("../images/prism.png");
}

h1 {
    color: whitesmoke;
    margin: 10px;
    font-size: 300%;
}

.btn {
    margin: 10px;
}

.newGif {
    float: left;

}

.rating{
    margin-bottom: 10px;
}

.form{
    color: whitesmoke;
    margin: 10px;
}

.rating{
    margin-left: 10px;
}